.match-panel {
    background-color: #d7e4e1;
    padding: 5px;
    margin: 5px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    color: cadetblue;
}

.match-panel:hover{
    background-color: #ccdbd8;
    color: #43696b;
}