.feed{
    width: 400px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: var(--grey);
    min-height: 300px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.feed-heading {
    font-size: 12pt;
    margin:20px;
}