:root {
    --pink: #e3087e;
    --dark-pink: #af0a62;
    --light-pink: #e6cfdb;
    --very-light-grey: #f8f8f8;
    --light-grey: #f3f3f3;
    --grey: #e9e9e9;
    --medium-grey: #d2d2d2;
    --medium-dark-grey: #8a8a8a;
    --light-blue: #e8ebf6;
    --medium-blue: #a7b5e7;
    --blue: #3a86aa;
    --very-light-green: #dde9da;
    --light-green: #aec8ab;
    --green: #39b54a;
    --dark-green: #33a443;
}