.panel {
    background-color: var(--medium-grey);
    width: 100%;
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 10px 0px;
}

.panel-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.middle-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.align-right {
    align-items: flex-end;
    width: 38%;
}

.align-left {
    align-items: flex-start;
    width: 38%;
}

.text-right {
    text-align: right;
    margin: 0;
}

.text-left {
    text-align: left;
    margin: 0;
}

.team-name{
    display: flex;
    align-items: flex-end;
}

.highlighted {
    text-align: center;
    margin: 0px;
}

.info {
    display: flex;
    margin: 2px 2px 2px 2px;
    text-align: center;
}

.score {
    margin: 10px;
}


.panel-button {
    background-color: var(--green);
    border:none;
    height: 30px;
    width: 50%;
    color: white;
    font-weight: bold;
}

.panel-button:hover {
    background-color: var(--dark-green);
}


.m10{
    margin: 10px;
}

.mt10{
    margin-top: 10px;
}