.default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--black-teal);
    width: 100%;
}

.default .text-section {
    color: var(--white-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 25px;
}

.text-section__article {
    width: 90%;
}

.text-section__article h2 {
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 40px;
}

.text-section__description {
    padding-left: 100px;
}

.default a {
    color: var(--light-teal);
    text-decoration: none;
}

.default a:hover {
    text-decoration: underline;
}


.text-section__article--secondary h2 {
    color: var(--light-teal);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.text-section__article--secondary
.text-section__description {
    margin-bottom: 50px;
}

.graph-section {
    width: 50%;
    justify-content: flex-start;
    /*background-image: url('../assets/bg-images/ball2.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.graph-section img {
    max-width: 755px;
    object-fit: cover;

}

.form-section {
    padding-left: 30px;
    color: var(--light-teal);
    width: 70%;
    background-color: rgba(22, 30, 33, 0.7);
    backdrop-filter: blur(7px);
}


.form-section h2 {
    margin-top: 40px;
    font-weight: normal;
    color: var(--white-blue);
}

.form-section__article {
    width: 80%;
}

.form-section__article form {
    display: flex;
    flex-direction: column;
}

.form-section__article input {
    color: var(--white-blue);
    padding-left: 15px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--light-teal);
    max-width: 500px;
}

::placeholder {
    color: var(--medium-teal);
}

.form-section__article label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-section__button {
    border: none;
    background-color: var(--light-teal);
    color: var(--white-blue);
    width: 200px;
    padding: 15px 60px 15px 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    cursor: pointer;
}

.form-section .form-section__button {
    margin-top: 40px;
}


.form-section__button:hover {
    background-color: var(--medium-teal);
}

.form-section__undertext {
    font-size: 10pt;
}

.form-section .form-section__undertext {
    color: var(--white-blue);
    margin-bottom: 50px;
}

.form-section__field-error {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 9pt;
    color: var(--yellow);
    text-align: right;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--black-brown) inset;
    -webkit-text-fill-color: var(--white-blue);
}