/* PENDING SECTION */
.feed--pending {
    background-color: var(--black-teal);
    background-image: url("../assets/bg-images/ball1-mid.png");
    background-repeat: no-repeat;
  }
  
  .feed--pending .feed__title {
    color: var(--yellow);
    margin-top: 100px;

  }
  
  /* PENDING TOTE BOARDS */
  .feed--pending .tote-board {
    padding-bottom: 20px;
    /* GLASSMORPHISM */
    background-color: rgba(255, 218, 31, 0.05);
    border: 1px solid rgba(255, 218, 31, 0.3);
    backdrop-filter: blur(7px);
  }
  
  .feed--pending .tote-board__header p {
    color: var(--yellow);
  }
  
  .feed--pending .tote-board__label {
    color: var(--white-blue);
  }
  
  .feed--pending .tote-board__score-predict input {
    border: 1px solid var(--yellow);
    color: white;
  }
  
  .feed--pending .tote-board__name p {
    color: var(--white-blue);
  }
  
  .feed--pending .tote-board__heraldics span {
    color: var(--yellow);
  }
  
  .feed--pending .tote-board__incentives {
    margin-top: -20px;
  }
  
  .feed--pending .tote-board__incentives--link:hover {
    border-bottom: 1px solid var(--yellow);
  }

