.friendlist-section h2 {
    margin-top: 40px;
    font-weight: normal;
    color: var(--white-blue);
}

.friendlist-section {
    padding-left: 30px;
    color: var(--light-teal);
    width: 70%;
    background-color: rgba(22, 30, 33, 0.7);
    backdrop-filter: blur(7px);
}

.friendlist-section .found-users {
    flex-direction: column;
}

.friendlist-section.friendlist-section--players {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: unset;
    padding: unset;
    margin: unset;
}

.friendlist-section--players .form-section__article {
    width: 50%;
}

.friendlist-section--players .found-users {
    flex-direction: unset;
    justify-content: center;
}

.found-users{
    display: flex;
    flex-wrap: wrap;
}

.found-user{
    padding: 5px 20px 5px 20px;
    margin: 5px;
    display: flex;
    width: 250px;
    justify-items: center;
    align-items: center;
}

.found-user p{
 margin: 0;
}

.found-user__image-container {
    width: 45px;
    height: 45px;
}

.found-user__image-container img{
    width: 40px;
    height: 40px;
}

.found-user__image-container img:hover {
    filter: brightness(2000%);
    cursor: pointer;
}

.found-user__info-container p{
    font-size: 10pt;
    margin: 10px;
}

.found-user__link {
    color: var(--white-blue);
    font-size: 9pt;
    margin: 10px;
}

.found-user__info {
    color: var(--light-teal);
    font-size: 9pt;
}

.found-user__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.friendlist-section p {
    color: var(--white-blue);
}

.friendlist-section .found-user__link {
    color: var(--light-teal);
    font-size: 9pt;
    margin: 10px;
}