/* HEADER */
header {
    display: flex;
    flex-direction: column;

    /*align-items: center;*/
    align-content: center;
    justify-content: space-between;
    height: 200px;
    color: var(--white-blue);

    width: 100%;
  background-color: var(--black-brown);
  }

.header__menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: flex-start;
}

.header__live-feed {
    display: flex;
    justify-content: flex-end;
    font-size: 9pt;
    background-color: var(--dark-teal);
}

.header__live-match {
    display: flex;
    margin: 2px 20px 2px 20px;
    align-items: center;
}

.header__live-match span {
    margin: 5px;
}

.header__live-status {
    color: var(--light-teal)
}

.header__live-score {
    font-weight: bold;
}



.logo {
  font-size: 9pt;
}

  .logo__img {
    width: 290px;
    height: 32px;
  }
  
  /* HEADER - NAV */

 .navigations-root {
   display: flex;
 }
  .nav {
    font-size: 10pt;
    font-weight: normal;
    color: var(--light-teal);
    margin: 10px;
  }
  
  .nav--manager {
    color: var(--yellow);
  }
  
  .nav--manager .nav__link {
    font-size: 10pt;
    color: var(--yellow);
  }
  
  .nav--manager .nav__link:hover {
    border-bottom: 1px solid var(--yellow);
  }
  
  .nav__text {
    font-weight:normal;
    font-size: 10pt;
  }
  
  .nav__link {
    text-decoration: none;
    color: var(--light-teal);
    margin: 20px;
    padding-bottom: 3px;
    border: 1px solid transparent;
    transition-duration: 0.5s;
  }
  
  .nav__link:hover {
    border-bottom: 1px solid var(--light-teal);
  }
  
  .nav__link--active {
    font-weight: bold;
    color: var(--white-blue);
    border-bottom: 1px solid var(--light-teal);
  }
  
  /* HEADER - USER MENU */
  
  .user-menu {
    width: 170px;
    min-height: 100px;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
      justify-content: center;
  }

.user-menu__lang-select {
  margin: 5px;
}

  .user-menu__text {
    color: var(--white-blue);
    margin: 5px;
  }
  
  .user-menu__link {
    color: var(--light-teal);
    text-decoration: none;
    margin: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
  }

.user-menu__link:hover {
  border-bottom: 1px solid var(--light-teal);
  cursor: pointer;

}