
/* STANDINGS SECTION */

.overview {
  /*position: absolute;*/
  /*z-index: 10;*/
  /*  background-color: var(--black-teal);*/
    padding-top: 80px;
    background-image: url("../assets/bg-images/ball-gatekeeper-hand-01-small.png");
    background-size: 1000px;
    background-position:  right -450px top;
    background-repeat: no-repeat;
  }
  
  .overview__title {
    /*position: absolute;*/
    /*z-index: 10;*/
    color: var(--white-blue);
    text-align: center;
    width: 100%;
    font-size: 20pt;
    font-weight: normal;
    top: 100px;
  }

  
  .overview__container {
    /*position: absolute;*/
    /*z-index: 10;*/
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-right: 300px;
  }
  
  .rules {
    width: 40%;
    margin-left: 50px;
    color: var(--white-blue);
    font-size: 11pt;
    line-height: 20px;
    background-color: rgba(22, 30, 33, 0.5);
    backdrop-filter: blur(7px);
  }
  
  .rules p {
    margin: 0 0 10px 0;
  }
  
  .standings__player {
    padding: 7px;
    text-align: right;
    color: var(--white-blue);
  }
  
  .standings__points {
    color: var(--yellow);
  }
  
  .standings__player--highlighted,
  .standings__points--highlighted {
    font-weight: bold;
  }

  .standings__kick-button {
    background-color: var(--dark-teal);
    color: var(--white-blue);
    padding: 5px 10px;
  }

.standings__kick-button:hover {
  background-color: var(--yellow);
  color: var(--black-teal);
  cursor: pointer;
}
